/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/** Button css */
.aa-button {
  background: #ccc;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  position: fixed;
  z-index: 10000;
}

.button1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

/*==================================================
   * shadow 2
   * ===============================================*/
.button2 {
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.75);
}

.button3 {
  -webkit-box-shadow: -21px 8px 64px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -21px 8px 64px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -21px 8px 64px 0px rgba(0, 0, 0, 0.75);
}

.button4 {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.button5 {
  -webkit-box-shadow: 10px 10px 64px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 64px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 64px 0px rgba(0, 0, 0, 0.75);
}

.tl {
  left: 10px;
  top: 10px;
}

.tr {
  right: 10px;
  top: 10px;
}

.bl {
  left: 10px;
  bottom: 10px;
}

.br {
  right: 10px;
  bottom: 10px;
}
